<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <!-- <ion-title>
        Calendar
     </ion-title> -->  
     <ion-button (click)="addtask()">Add Task</ion-button>
     <ion-button (click)="addevent()">Add Event</ion-button>
  </ion-toolbar>
</ion-header>
<!--Rajesh Saha-->
<ion-content  >
   <!-- <div class="ion-padding">
      <form [formGroup]="onLeadForm" (submit)="onSubmit(onLeadForm.value)"> -->

      <!-- <ion-calendar [(ngModel)]="bizFormData"
      (onChange)="onChange($event)"
      [type]="type"
      [format]="'DD-MM-YYYY'"
      (click)="calenderList()">
    </ion-calendar> -->

   <!-- </form>
</div>  -->

<div>
   <h2 style="align-items: center;">{{viewTitle}}</h2>

</div>
<ion-segment [(ngModel)]="calendar.mode">
<ion-segment-button value="month">
<ion-label>Month</ion-label>
</ion-segment-button>
<ion-segment-button value="week">
   <ion-label>Week</ion-label>
   </ion-segment-button>
   <ion-segment-button value="day">
      <ion-label>Day</ion-label>
      </ion-segment-button>
</ion-segment>
   <calendar [eventSource]="eventSource"
   [calendarMode]="calendar.mode"
   [currentDate]="calendar.currentDate"
   (onTitleChanged)="onViewTitleChanged($event)"
   (onCurrentDateChanged)="onCurrentDateChanged($event)"
   >
   
</calendar>

   <ion-item-sliding #slidingItem id="item100"  style="background-color:#dbdddb; border-radius: 10px;">
 
     <div class="event">
      <h4>All Event List</h4>
      <span *ngFor="let header of modules;let i = index">       
       <li>{{ header.subject}}</li>    
      </span>
     </div>
      
 
 
      <!-- <ion-fab vertical="bottom" class="addbutton" horizontal="end" slot="fixed" (click)="form(modulename)"> -->
         <!-- <a routerLink="/leadform" > -->
            <!-- <ion-fab-button> -->
               <!-- <ion-icon name="add" style="color:white;"></ion-icon>  -->
               <!-- ADD -->
            <!-- </ion-fab-button> -->
         <!-- </a> -->
      <!-- </ion-fab> -->
  <ion-item-options side="end">
     <ion-button fill="clear" 
     (click)="slidingclose(slidingItem)" (click)="leadsdeleteList(record.id)" (click)="refresh($event)" style="height: 48px;" >
     <ion-icon slot="icon-only" color="danger" name="trash" size="small"></ion-icon>
     delete
     </ion-button> 
     <div class="vl"></div>
     <ion-button fill="clear" (click)="slidingclose(slidingItem)" (click)="formedit(modulename,record.id)" style="height: 48px;">
        <ion-icon color="warning" slot="icon-only" name="create" size="small" ></ion-icon>
        edit
     </ion-button>
  </ion-item-options>
</ion-item-sliding>
 </ion-content>
  <!--Rajesh Saha-->
