.inputbutton{
    margin-bottom: -30px;
    margin-left: 60%;
}
.iabeltext{
    font-size: 20px;
}
.ion-labelmain{
    margin-left: 9px;
}
.monthview-container{
    height: auto!important;
  }
.event{
    padding: 17px;
}
  :host ::ng-deep {
      .event-detail-container {
          display: none;
      }

      .monthview-container {
          height: auto !important;
      }
  }