<ion-header>
  <ion-toolbar color="primary">
     <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
     <ion-title>
        Calendar
     </ion-title>
  </ion-toolbar>
</ion-header>
<!--Rajesh Saha-->
<ion-content  >
   <div class="ion-padding">
 
     <ion-calendar [(ngModel)]="dateMulti"
         [options]="optionsMulti"
         [type]="type"
         [format]="'YYYY-MM-DD'">
     </ion-calendar>
     
   </div>


   <ion-item-sliding #slidingItem id="item100"  style="background-color:#dbdddb; border-radius: 10px;">
 
     
      <h4>All List</h4>
      <!-- <ion-item> -->
         <div *ngFor="let header of modules;let i = index">
            
          <li>{{ header.subject}}</li>  
               <!-- <a routerLink="/leadsdetails/{{ record.id }}" class="alllink" > -->
                  
                  <!-- <div class="headerlabel"> 
                     {{ header.subject}}
                  </div>
                  <div  class="headervalue">
                     {{ record[header.time_start]}}
                  </div> -->
                
               <!-- </a> -->
          
         </div>
      <!-- </ion-item> -->
 
      <ion-fab vertical="bottom" class="addbutton" horizontal="end" slot="fixed" (click)="form(modulename)">
         <!-- <a routerLink="/leadform" > -->
            <ion-fab-button>
               <ion-icon name="add" style="color:white;"></ion-icon> 
               <!-- ADD -->
            </ion-fab-button>
         <!-- </a> -->
      </ion-fab>
  <ion-item-options side="end">
     <ion-button fill="clear" 
     (click)="slidingclose(slidingItem)" (click)="leadsdeleteList(record.id)" (click)="refresh($event)" style="height: 48px;" >
     <ion-icon slot="icon-only" color="danger" name="trash" size="small"></ion-icon>
     delete
     </ion-button> 
     <div class="vl"></div>
     <ion-button fill="clear" (click)="slidingclose(slidingItem)" (click)="formedit(modulename,record.id)" style="height: 48px;">
        <ion-icon color="warning" slot="icon-only" name="create" size="small" ></ion-icon>
        edit
     </ion-button>
  </ion-item-options>
</ion-item-sliding>
 </ion-content>
  <!--Rajesh Saha-->
