<ion-header>
  <ion-toolbar color="primary">
     <ion-title>
        <a routerLink="/leads/{{moduleid}}">
           <ion-icon name="arrow-back" ></ion-icon>
        </a>
        &nbsp;&nbsp;&nbsp;
       Relation
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- <h1>Relation</h1> -->
<!-- <button (click)="check()">Check</button> -->

<!-- <div *ngFor="let a of modules;let i = index">
  <div *ngFor="let b of a.blocks;let i = index">

<div *ngFor="let fields of b.fields;let i = index">
{{fields.label}} {{fields.value}} <br>

</div>
  </div>
</div> -->

<ion-card *ngFor="let a of modules;let i = index">
 
  <span *ngFor="let b of a.blocks;let i = index">
    <ion-icon color="warning" slot="icon-only" name="create" size="large" ></ion-icon>
      <ion-card-content *ngFor="let fields of b.fields;let i = index">
        {{fields.label}} {{fields.value}}
      </ion-card-content>
  </span>
</ion-card>


</ion-content>
