<ion-header>
  <ion-toolbar color="primary">
     <ion-title>
        <form [formGroup]="onLeadForm" (submit)="onSubmit(onLeadForm.value)" padding>
          <a routerLink="/leads/{{mainmodulename}}">
           <ion-icon name="arrow-back" ></ion-icon>
        </a>
        &nbsp;&nbsp;&nbsp;
        {{mainmodulename}} Form
       
            <!-- <ion-button  float-right type="submit" *ngIf="onLeadForm" [disabled]="!onLeadForm.valid"  fill="clear" class="savebutton" style="--background-color: transparent !important;"> 
                <ion-icon size="large" name="checkmark-circle"></ion-icon>
              </ion-button> -->
            </form>
        </ion-title>
      </ion-toolbar>
  </ion-header>
<!--Rajesh Saha-->
  <!-- <br> -->
  <ion-content>



<div class="card1" *ngIf="loaddata == 1">
  <form [formGroup]="onLeadForm" (submit)="onSubmit(onLeadForm.value)">
    <div class="card" style="padding: 10px;">
      <div class="card-body">
       
        <!-- <h5 class="card-title text-center"> {{mainmodulename}} Form</h5> -->
        <div class="row">
        
           
          <div class="col-sm-6">
            <div class="card" style="padding: 10px;">
              <div class="card-header">
                <!-- <strong>Lead Details</strong> -->
              </div>
              <div class="card-body was-validated">
              
                <div class="form-group" *ngFor="let lead of modules;let i = index">
                  <!-- <label 
                  *ngIf="(lead.mandatory =='true' )">
                    *
                  </label> -->
                  <div *ngIf="(lead.displaytype !=='2' && lead.displaytype !=='3')">
                    <span *ngIf="(lead.uitype !=='4' )">
                    <!-- ({{lead.displaytype}}  ? '$2.00' : '$10.00') -->
                   
                    <!-- This is new design inputbox style -->
                  <!-- <div *ngIf="lead.type.name =='text'">
                    <ion-item>
                      <ion-label position="floating" for="inputSuccess2">{{ lead.label }}</ion-label>
                      <ion-input [(ngModel)]="bizFormData[lead.name]" type="text"  [formControlName]= "modules[i]['name']" name=lead.name></ion-input>
                    </ion-item>
                  </div> -->
                 

                    <div *ngIf="(lead.type.name =='string' || lead.type.name =='url') &&  lead.name !='salutationtype'">         
                      <label class="form-col-form-label" for="inputSuccess2"> <span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>
                        {{ lead.label }}               
                      </label>
                      <input [(ngModel)]="bizFormData[lead.name]" class="form-control formstyle" [formControlName]=lead.name>
                    </div>
                    <div *ngIf="lead.type.name =='date'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <input [(ngModel)]="bizFormData[lead.name]" type="date" class="form-control formstyle" [formControlName]= "modules[i]['name']" name=lead.name>
                    </div>
                    <div *ngIf="lead.type.name =='text'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <input [(ngModel)]="bizFormData[lead.name]" type="text" class="form-control" [formControlName]= "modules[i]['name']" name=lead.name>
                    </div>
                    <div *ngIf="lead.type.name =='integer' || lead.type.name =='decimal'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <input [(ngModel)]="bizFormData[lead.name]" type="number" class="form-control" [formControlName]=lead.name name=lead.name>
                    </div>
                    <div *ngIf="lead.type.name =='double'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <input [(ngModel)]="bizFormData[lead.name]" type="percent" class="form-control" [formControlName]=lead.name name=lead.name>
                    </div>
                    <div *ngIf="lead.type.name =='boolean'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <input [(ngModel)]="bizFormData[lead.name]" type="boolean" class="form-control" [formControlName]=lead.name name=lead.name>
                    </div>
                    <div *ngIf="lead.type.name =='datetime'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <input [(ngModel)]="bizFormData[lead.name]" type="datetime" class="form-control" [formControlName]=lead.name name=lead.name>
                    </div>
                    <div *ngIf="lead.type.name =='autogenerated'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <input [(ngModel)]="bizFormData[lead.name]" type="autogenerated" class="form-control" [formControlName]=lead.name name=lead.name>
                    </div>
                    <div *ngIf="lead.type.name =='time'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <input [(ngModel)]="bizFormData[lead.name]" type="time" class="form-control" [formControlName]=lead.name name=lead.name>
                    </div>
                    <div *ngIf="lead.type.name =='phone'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <input [(ngModel)]="bizFormData[lead.name]" type="phone" class="form-control" [formControlName]=lead.name name=lead.name>
                    </div>
                    <div *ngIf="lead.type.name =='email'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <input [(ngModel)]="bizFormData[lead.name]" type="email" class="form-control" [formControlName]=lead.name name=lead.name>
                    </div>
                    <div *ngIf="lead.type.name =='currency'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <input [(ngModel)]="bizFormData[lead.name]" type="currency" class="form-control" [formControlName]=lead.name name=lead.name>
                    </div>


                    <div *ngIf="lead.type.name =='reference'" >

                      <!-- <div *ngIf="lead.type.refersTo[0] == 'Project'">
                        <label class="form-col-form-label" for="inputSuccess2">{{ lead.label }}  <span *ngIf="lead.mandatory == true" class="error"> * </span></label>
                        <select [(ngModel)]="bizFormData[lead.name]" [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=val *ngFor="let val of lead.type.refersTo;let i = index">
                            {{ val }}
                          </option>
                        </select>
                      </div> -->

                      <!-- <div *ngIf="lead.type.refersTo[0] == 'Accounts'" >
                        <label class="form-col-form-label" for="inputSuccess2">{{ lead.label }}  <span *ngIf="lead.mandatory == true" class="error"> * </span></label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div> -->
                      <div *ngIf="lead.type.refersTo[0] == 'Accounts'" (click)="openModel(lead.type.refersTo[0])">
                        <label class="form-col-form-label" for="inputSuccess2" ><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let record of recordsdata;let i = index" >
                            {{ record.firstname|| record.accountname }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'Project'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=val *ngFor="let val of lead.type.refersTo;let i = index">
                            {{ val }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'Products'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'Currency'" (click)="openModel(lead.type.refersTo[0])">
                        <label class="form-col-form-label" for="inputSuccess2" ><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let record of recordsdata;let i = index" >
                            {{ record.firstname }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'Vendors'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>



                      <div *ngIf="lead.type.refersTo[0] == 'Leads'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'PurchaseOrder'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'Quotes'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'Invoice'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'Faq'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'HelpDesk'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'ProjectTask'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'Potentials'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'Contacts'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select  [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>
                      <div *ngIf="lead.type.refersTo[0] == 'SalesOrder'">
                        <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                        <select [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals *ngFor="let vals of lead.type.refersTo;let i = index">
                            {{ vals }}
                          </option>
                        </select>
                      </div>


                      <!-- <div *ngIf="lead.type.refersTo[0] == 'Users'">
                        <label class="form-col-form-label" for="inputSuccess2">{{ lead.label }}  <span *ngIf="lead.mandatory == true" class="error"> * </span> </label>
                        <select [(ngModel)]="bizFormData[lead.name]" [formControlName]=lead.name name=lead.name class="form-control">
                          <option [value]=vals.id *ngFor="let vals of testarry;let i = index">
                            {{ vals.subject }}
                          </option>
                        </select>
                      </div> -->
                   

                    
                    </div>


                    <div *ngIf="lead.type.name =='picklist' ||   lead.name =='salutationtype'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <select [(ngModel)]="bizFormData[lead.name]" [formControlName]=lead.name name=lead.name class="form-control">
                        <option [value]=pick.value *ngFor="let pick of lead.type.picklistValues;let i = index">
                          {{pick.label}}
                        </option>
                      </select>
                    </div>

                    <div *ngIf="lead.type.name =='owner'">
                      <label class="form-col-form-label" for="inputSuccess2"><span *ngIf="lead.mandatory == true" class="mandatoryfield"> * </span>{{ lead.label }}</label>
                      <select [(ngModel)]="bizFormData[lead.name]" [formControlName]=lead.name name=lead.name class="form-control">
                        <option [value]=k.id *ngFor="let k of modules['ownerdata']">{{ k.label }}</option>
                      </select>
                    </div>

                    
                 
                  </span>
                 </div>
                </div>
              </div>
            </div>
            <button type="submit" *ngIf="onLeadForm" 
              class="btn btn-primary btn-lg btn-block">Save {{mainmodulename}}
            </button>
            <!-- [disabled]="!onLeadForm.valid" -->

          </div>

        </div>

      </div>
      <!-- <a routerLink="/leadform" class="btn btn-primary text-center btn-lg active" role="button" aria-pressed="true">Add
        Lead</a> -->
    </div>

  </form>
</div>

<!-- type="submit" *ngIf="onLeadForm" [disabled]="!onLeadForm.valid" -->
</ion-content>
<!--Rajesh Saha-->