.menulink{
  text-decoration: none; 
  color: inherit;
}
.user{
 display:inline-flex;
 padding:10px; 
}
.leftarrow{
  float: left;
  height: 20px;
}

.img{
width: 50px;
height: 50px;
margin-top: 8px;
border: 2px;
background-color: aquamarine;
border-radius: 70px;
font-size: 50px;

}
// ion-content {
//    --background: url('../assets/img/bg.png');
//     // background-color:#FF252C;
//     --background-repeat: no-repeat;
//     --background-size: 100% 100%;
// }
.addbutton{
  position: fixed !important;
}
:host{--width:262px;}

.text{
margin-left: 15px;
}




/*Func*/

.item ul, .nav input[type="checkbox"] {
  display: none;
}
#menu:checked ~ .multi-level, .item input:checked ~ ul {
  display: block;
}

/*Arrow*/

.arrow {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  float: left;
  z-index: 0;
  margin: 17px 1em 0 2em;
  color:black;
}
.item input + .arrow {
  transform: rotate(-90deg);
  transition: 0.1s;
}
.item input:checked + .arrow {
  transform: rotate(0deg);
  transition: 0.1s;
}



/*Styles*/

label:hover {
  cursor: pointer;
}
label {
  width: 100%;
  display: block;
  z-index: 3;
  position: relative;
}
.nav {
  width: 100%;
  // background-color: white;
  overflow-x: hidden;
  border-bottom: 1px solid #CFD8DC;
}

#nav-icon {
  font-size: 28px;
  line-height: 50px;
  padding-left: 1em;
  color: white;
  margin-top: 50px;
  // background-color: #F44336;
}

.nav ul, .nav li, label {
  line-height: 50px;
  margin: 0;
  padding: 0 0.5em;
  list-style: none;
  text-decoration: none;
  // color: #90A4AE;
  font-weight: 100;
  width: 100%;
}
.item ul {
  padding: 0 0.25em;
}
.nav li a {
  line-height: 50px;
  margin: 0;
  // padding: 0 4em;
  list-style: none;
  text-decoration: none;
  // color: #90A4AE;
  font-weight: 100;
}



.center {
margin: auto;
width: 30%;
//   border: 3px solid green;
padding: 10px;
height:10%;
}




