<ion-header>
      <ion-toolbar color="primary">
         <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
         </ion-buttons>
         <ion-title>
            Dashboard
         </ion-title>
         <ion-icon name="pulse" (click)="showChart()" size="large" slot="end"></ion-icon>
         <!-- <ion-button fill="clear" size="small" slot="end" (click)="presentActionSheet()">
            <ion-icon ios="ios-notifications" md="md-notifications"></ion-icon>
         </ion-button> -->
         <ion-button routerLink="/profile" fill="clear"  size="small" slot="end">
            <ion-icon ios="ios-person" md="md-person"></ion-icon>
         </ion-button>
      </ion-toolbar>
   </ion-header>
   <!--Rajesh Saha-->
   <!-- <ion-toolbar>
      <ion-searchbar></ion-searchbar>
   </ion-toolbar> -->
   <ion-content>
         <ion-grid>
               <ion-row>
                     <ion-col>
                       <div (click)="link1()" *ngIf="opportunities" class="title"> <b style="color: coral;">{{ opportunities.length }}</b> <br> Potentials</div>
                     </ion-col>
                     <ion-col>
                       <div (click)="link2()"*ngIf="projects" class="title"> <b style="color: blue;">{{ projects.length }}</b> <br> Accounts</div>
                     </ion-col>
                   </ion-row>

                   <ion-row>
                     <ion-col>
                       <div (click)="link3()"*ngIf="paments" class="title"> <b style="color: brown;">{{ paments.length }}</b> <br> PriceBooks</div>
                     </ion-col>
                     <ion-col>
                       <div (click)="link4()"*ngIf="projectstasks" class="title"> <b style="color: green;">{{ projectstasks.length }}</b> <br> Vendors</div>
                     </ion-col>
                   </ion-row>

                   <ion-row>
                     <ion-col>
                       <div (click)="link5()"*ngIf="salesorder" class="title"> <b style="color: red;">{{ salesorder.length }}</b> <br> Leads</div>
                     </ion-col>
                     <ion-col>
                       <div (click)="link6()"*ngIf="contact" class="title"> <b>{{ contact.length }}</b> <br> Contacts</div>
                     </ion-col>
                   </ion-row>
               </ion-grid>


      <!-- <ion-grid >
          
       <ion-row>
         <ion-col size="12" >
            <h6>Graph Chart</h6>
            <div id="chart_div" align="center" ></div>
         </ion-col>
      </ion-row>
   </ion-grid> -->
  </ion-content>
  <!--Rajesh Saha-->