.headerlabel{
    font-size: 12px;
    font-weight: 600;
    width: 75px;
    padding: 5px 5px 5px 0;
    height: 40px ;
    vertical-align: top;
}
.headervalue{
    padding: 5px 5px 5px 0;
    font-size: 12px;
    height: auto;
    word-break: break-word;

}
